html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

menu {
  padding-left: 0;
}

/*
*
*/
.hidden {
  display: none;
}

#project-name-display {
  font-weight: bold;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .section {
    height: 100vh;
    padding: 1rem;

    &.projects {
      width: 40%;

      #add-project {
        margin-top: 3rem;

        #add-project-form {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;

          .nes-field {
            margin: 1rem 0;
          }

          #add-project-button {
            margin-top: 2rem;
            width: 50%;
          }
        }
      }
    }

    &.picker {
      width: 60%;

      #general-error-container {
        margin: 0.5rem 0;
      }

      #projects-list {
        .project-container {
          margin-top: 2rem;

          &:hover {
            background-color: #eee;
          }

          .content-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .icons {
              display: flex;
              flex-direction: row;

              svg {
                color: #006bb3;
                font-size: 1.25rem;
              }

              svg.fa-trash {
                color: #8c2022;
                margin-left: 0.5rem;
              }
            }
          }
        }

        .selected {
          background-color: lightgreen;
        }
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
