body {
  margin: 0;
  padding: 16px 8px;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah", cursive;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .section {
    height: 100vh;
    padding: 1rem;

    &.projects {
      //background-color: pink;
      width: 30%;

      #new-project {
        margin-top: 3rem;

        #new-project-form {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &.picker {
      background-color: lightgrey;
      width: 70%;
    }
  }
}
