html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P';
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .section {
    height: 100vh;
    padding: 1rem;

    &.projects {
      //background-color: pink;
      width: 40%;

      #add-project {
        margin-top: 3rem;

        #add-project-form {
          display: flex;
          flex-direction: column;
          padding: 1rem 0;

          .nes-field {
            margin: 1rem 0;
          }

          #add-project-button {
            margin-top: 2rem;
            width: 50%;
          }
        }
      }
    }

    &.picker {
      background-color: lightgrey;
      width: 60%;
    }
  }
}
